
<div class="container">
	<div class="jumbotron row">
			<b>
		<div class="col-md-3" style="padding:8px">
			<%= link_to "Recently Added", my_collection_path %>
		</div>	
	  <% @collections.each do |collection| %>
	  	<div class="col-md-3" style="padding:8px">
				<%= link_to collection.name, my_collection_path(id: collection.id) %>
			</div>
		<% end %>
		</b>
	</div>


	<div class="row">
	  <%= render 'gigs/index', :gigs => @gigs %>
	</div>
</div>