<div class="col-lg-12 wh_col">
	<h3 class="cr_gig">Edit the Gig</h3>
	<span class="gig_lan">
		Gig Language: English <%= link_to "Back", @gig, :class=>"btn btn-default" %>
	</span>

	<%= render 'form', :gig => @gig %>
</div><!-- 9 col-->   

