
<div class="col-lg-12 wh_col">
	<h3 class="cr_gig">Edit the Extra for <%= @gig.title %></h3> <span class="gig_lan">Gig Language: English</span>
	<br/><br/><br/>
	<%= render 'form', :gig => @gig, :extragig=>  @extragig  %>

	<%= link_to 'Show', [@gig,@extragig] , :class=>"btn btn-default"%> 
	<%= link_to 'Back', gig_extragigs_path(@gig) , :class=>"btn btn-default"%>
</div><!-- 9 col-->   